.xdatePicker {
border:1px solid WindowText;
background:Window;
width:200px;
cursor:default;
-moz-user-focus:normal;
padding:0;
border-spacing: 0px;
height: 0px; /*��� ������ �� ������ ����� � ��������*/
z-index: 30;
}

.xdatePicker td {
font:small-caption;
text-align:center;
color:WindowText;
cursor:default;
font-weight:400!important;
-moz-user-select:none;
padding:0;
height: 0px; /*��� ������ �� ������ ����� � ������� � ����� ������*/
border: 1px solid black;
width: 18px;
padding: 3px;
font-size: 11px;
background: #fafafa; /* Old browsers */
background: -moz-linear-gradient(top,  #fafafa 0%, #ececec 50%, #dddddd 51%, #f1f1f1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(50%,#ececec), color-stop(51%,#dddddd), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fafafa 0%,#ececec 50%,#dddddd 51%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fafafa 0%,#ececec 50%,#dddddd 51%,#f1f1f1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fafafa 0%,#ececec 50%,#dddddd 51%,#f1f1f1 100%); /* IE10+ */
background: linear-gradient(top,  #fafafa 0%,#ececec 50%,#dddddd 51%,#f1f1f1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

.xdatePicker td.red {
color:red;
}

.xdatePicker .header {
background:Window;
border-bottom:1px solid WindowText;
padding:3px;
}

.xdatePicker .gridTable td {
width:14.3%;
}

.xdatePicker .gridTable .daysRow td {
font-weight:700!important;
border-bottom:1px solid ThreeDDarkShadow;
}

.xdatePicker .grid .gridTable .upperLine {
width:100%;
height:2px;
overflow:hidden;
background:transparent;
}

.xdatePicker td.today {
font-weight:700!important;
}

.xdatePicker td.selected {
background:Highlight;
color:HighlightText!important;
}

.xdatePicker td .topLabel {
color:CaptionText;
display:block;
font-weight:700!important;
width:100%;
text-decoration:none;
}

.xdatePicker button {
font:Caption;
font-weight:400!important;
display:block;
border-width:1px;
}

.xdatePicker .previousButton {
background:buttonface url("../images/arrow.left.png") no-repeat center center;
border-radius: 10px;
}

.xdatePicker .nextButton {
background:buttonface url("../images/arrow.right.png") no-repeat center center;
border-radius: 10px;
}

.xdatePicker .previousButton,.xdatePicker .nextButton {
width:14px;
height:14px;
}

.xdatePicker .todayButton,.xdatePicker .noneButton {
-moz-border-radius: 15px;
-khtml-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius:15px;
background: transparent url("../images/button.gif") no-repeat top left;
display: block;
float: left;
font: normal 13px Tahoma; /* Change 13px as desired */
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
height: 24px; /* Height of button background height */
padding-left: 8px; /* Width of left menu image */
text-decoration: none;
width:50px;
}

.xdatePicker .labelPopup {
position:absolute;
min-width:130px;
background:Window;
border:1px solid WindowText;
padding:1px;
}

.xdatePicker .labelPopup a {
width:100%;
display:block;
color:WindowText;
text-decoration:none;
white-space:nowrap;
}

.xdatePicker .labelPopup a:hover {
background:Highlight;
color:HighlightText;
}

.xdatePicker .labelPopup a.selected {
font-weight:700;
}

.xdatePicker .headerTable,.xdatePicker .footerTable,.xdatePicker .gridTable,.xdatePicker td.labelContainer,.xdatePicker td.filler {
width:100%;
margin-top: 0px;
margin-bottom: 0px;
}

.xdatePicker .footer,.xdatePicker .grid {
padding:3px;
}