#content {
	margin-left: 80px;
}

.tabs {
	position: fixed;
	top: 75px;
	left: -21px;
	list-style: none;
}

div.entry div {
	padding-top: 2em;
	width: 98%;
}

th.comment {
	width: 333px;
}

table.t-data-grid tbody tr td.comment {
	padding: 0px;
}

textarea.cool {
	border-radius: 3px;
	border: 0px;
	resize: none;
	outline: 1px #55f;
	box-shadow: inset 0 0 5px #333;
	position: relative;
	top: 3px;
	bottom: 3px;
	left: 3px;
	right: 3px;
	width: 97%;
	-webkit-transition: all .3s ease;
	padding: 6px 0px 6px 6px;
}
textarea:focus{
        box-shadow: 0 0 4px #70aeff, 0 0 1px 1px #658fff;
}